body{
    background-color: #1c345c;
}
.main-header {
    background-color: #234275;
    padding: 5px;
    border-radius: 10px;
    margin: 0;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
}

.nav-bar img {
    height: 300px;
    position: relative;
    top: -15px;
    left: -40px;
}

.nav-bar a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-weight: bold;
    border: 15px;
    text-decoration: none;
}
nav a:hover{
    background-color: rgb(74, 133, 175);
    border-radius: 5px;

}
.logo{
    width: 10px;
}
.logo{
    height: 50px;
}
.flex{
    display: flex;
}

.section{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 20px;
    background-color: #234275;
    border-radius: 8px;
    box-shadow: 0 0 10px #99b3e0;
    
}
section p{
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.img{
    height: 200px;
    width: 300px;
}
.aling{
    align-items: center;
}
form {
    margin: 0 auto;
    width: 400px;
  
  }
  
  form div + div {
    margin-top: 1em;
  }
  
  label {
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input, textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
  }

  input:focus, textarea:focus {

    border-color: #000;
  }
  
  textarea {
    vertical-align: top;
    height: 5em;
  }
  
  .button {
    padding-left: 90px; 
  }
  
  button {
    margin-left: .5em;
  }
  .radios{
    cursor: pointer;
    display: flex;
    justify-content: center;
  }
  .icones{
       width: 20px;
       height: 20px;
  }
  .iconez{
    width: 30px;
    height: 30px;
  }
  .icons{
    width: 100px;
    height: 100px;
  }

  @media (max-width: 480px) {
    .section-text h1 {
        font-size: 3rem;
    }

    .section-text p {
        font-size: 18px;
    }

    .section_img img {
        width: 100%;
        height: auto;
    }

    nav ul li {
        font-size: 16px;
    }
}
 @media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        padding: 10px 0;
        font-size: 18px;
    }

    section {
        flex-direction: column;
        align-items: center;
    }

    .section-text {
        width: 80%;
        margin-right: 0;
        text-align: center;
    }

    .section_img {
        height: auto;
        margin-top: 20px;
    }

    .section_img img {
        width: 300px;
    }

    .gap-text {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .section-text h1 {
        font-size: 3rem;
    }

    .section-text p {
        font-size: 18px;
    }

    .section_img img {
        width: 100%;
        height: auto;
    }

    nav ul li {
        font-size: 16px;
    }
}