h2 {
    font-size: 36px;
    color: #000; /* Preto para destaque */
    font-family: 'Playfair Display', serif;
    margin-bottom: 20px;
    text-transform: uppercase;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
}

/* Cabeçalho */
.header {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f100;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 100px;
    justify-content: center;
}

.nav-menu li a {
    color: #fff9f9;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-menu li a:hover {
    color: #05632ccb;
}

.nav-toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #000;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
    gap: 20px;
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.caption {
    max-width: 50%;
    text-align: left;
}

.caption h2 {
    margin-bottom: 10px;
    color: #333;
}

.caption p {
    color: #555;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .caption {
        max-width: 100%;
        text-align: center;
    }
}


/* Seção principal (Home) */
.section.home {
    text-align: center;
    color: #fff;
    padding: 200px 100px;
    background: url('noite.png') center/cover no-repeat ;
}

.section.home h2 {
    font-size: 48px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 0 0 5px #ffffffbb, 0 0 10px #ffffffbb, 0 0 15px #ffffffbb, 0 0 20px #ffffffbb;
}

.section.home p {
    font-size: 22px;
    color: #f3f3f3;
    max-width: 800px;
    margin: 20px auto 0;
    text-shadow: 0 0 5px #ffffff94, 0 0 10px #ffffff94, 0 0 15px #ffffff94, 0 0 20px #ffffff94;
}

/* Responsivo para menu */
@media (max-width: 768px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        width: 100%;
        background-color: #ffffff;
        padding: 15px 0;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-toggle {
        display: block;
    }
}

